
/**** Globals *****/

body{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
ul,
li{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.buy-btn{
    padding: 15px;
    background-color: #f05555;
    color:#fff;
    text-transform: uppercase;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;

}

/**** Header *****/

.main-header{
    padding: 30px 0;
    position: fixed;
    top:0;
    width: 100%;
    background-color: #F9FAFB;
    box-shadow: 0 3px 5px rgba(0,0,0,.1);
    z-index: 10;
}

.main-header .main-navigation ul{
    padding-top: 20px;
    text-align: right;
}

.main-header .main-navigation ul li {
    padding: 0 10px;
    font-size: 18px;
    display: inline-block;
    list-style-type: none;
}

.main-header .main-navigation ul li a{
    text-decoration: none;
    color: #0a0a0a;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.main-header .main-navigation ul li .buy-btn{
    color:#fff;
}

.main-header .main-navigation ul li .buy-btn:hover{
    color:#fff;
}


.main-header .main-navigation ul li a:hover{
    color:#f05555;
}

.menu-container {
    margin-top: -50px;
    display: none;
    cursor: pointer;
    float: right;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    -moz-transform:rotate(-45deg) translate(-9px, 6px);
    -o-transform:rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    -moz-transform:rotate(45deg) translate(-8px, -8px);
    -o-transform:rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


@media screen and (max-width: 991px){

    .menu-container{
        display: block;
    }

    .main-header .main-navigation ul{
        text-align: center;
        display: none;
    }

    .main-header .main-navigation ul li{
        display: block;
        padding: 15px 0;
    }

}

/**** End intro-section ****/
.intro-section {
    padding: 200px 0 50px 0;
    background: #f7f8fa;
}

.intro-section h2{
    padding: 20px 0;
    font-size: 28px;
    font-weight: 700;
    color: #f05555;
    line-height: 1.5;
}

.intro-section h3{
    padding: 10px 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.5;
    color:#0a0a0a;
}

.intro-section h3 span{
    color:#f05555;
    font-weight: bold;
}

.intro-section .intro-content ul{
    padding-left: 25px;
}

.intro-section .intro-content ul li{
    padding: 5px 0;
    font-weight: 500;
    font-size: 17px;
}

.intro-section .intro-content ul li span{
    font-weight: bold;
}

.intro-section .intro-content .buy-holder{
    margin-top: 30px;
}

.intro-section .intro-content .buy-holder a:hover{
    color:#fff;
    text-decoration: none;
}

.intro-section .product-pic img{
    width:553px;

}

@media screen and (max-width:1152px){
    .intro-section .product-pic img{
        width: 390px;
    }

    .intro-section .info-content-section .product-pic img{
        padding-left: 0;
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width:991px){
    .intro-section .product-pic img{
        padding-top: 20px;
    }
}

@media screen and (max-width: 767px){

    .intro-section .intro-content{
        margin-bottom: 40px;
    }
    .intro-section .product-pic img{
        display: block;
        margin: 0 auto;
    }

    .intro-section .intro-content .buy-holder{
        text-align: center;
    }
}

/**** End info-section ****/

.info-section{
    padding: 100px 0 100px 0;
}

.info-section .info-content-section h2{
    padding-bottom: 50px;
    text-align: center;
    font-weight: 700;
    color:#f05555;
}

.info-section .info-content-section h3{
    padding-bottom: 50px;
    text-align: center;
    font-weight: 700;
}

.info-section .info-content-section span{
    padding-top: 55px;
    font-size: 20px;
    font-weight: 700;
}

.info-section .info-content-section ul{
    padding-top: 40px;
    padding-left: 20px;
}

.info-section .info-content-section ul li{
    padding: 5px 0;
    font-weight: 700;
}

.info-section .info-content-section ul li pre{
    display: inline;
    font-size: 12px;
    position: relative;
    bottom: 8px;
    left: 5px;
}


.info-section .info-content-section p{
    padding: 20px 0;
    font-weight: 700;
}

.info-section .info-content-section .product-pic img{
    padding-left: 25px;
}

@media screen and (max-width: 991px){
    .info-section .info-content-section .product-pic img{
        padding-left: 0;
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {

    .info-section{
        padding: 100px 0 20px 0;
    }

    .info-section .info-content-section h2{
        font-size: 25px;
    }

    .info-section .info-content-section h3{
        font-size: 22px;
    }

    .info-section .info-content-section .product-pic img{
        padding-left: 0;
        padding-bottom: 20px;
        width: 400px;
        display: block;
        margin: 0 auto;
    }

}

/**** End Section *****/

.end-section{
    padding: 50px 0 50px 0;
    background: #f7f8fa;
}

.end-section p{
    padding: 10px 0 10px 0;
    color:#0a0a0a;
    font-weight: 600;
}

.end-section img{
    width: 450px;
    float: right;
}

@media screen and (max-width: 991px){
    .end-section img {
        padding-top:40px;
        display: block;
        margin: 0 auto;
        float: none;
    }
}

@media screen and (max-width: 767px){
    .end-section img{
        padding-top: 20px;
    }
}


/*** FACTS ***/

.facts-1{
        background-image: url("images/bg-image-2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
         z-index: 1;
}

.overlay{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
}

.facts-1 h2{
    padding: 100px 0 30px 0;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.facts-1 .facts-text{
    padding-bottom: 50px;
    font-weight: bold;
    color: #fff;
}

.facts-1 .facts-text p{
   padding: 15px 0 15px 0;
}

.facts-2 {
    padding: 100px 0 50px 0;
    background-color: #f7f8fa;
}

.facts-2 h2{
    padding-bottom: 50px;
    text-align: center;
}

.facts-2 .image-placeholder img{
    width: 500px;
}

.facts-2 .text p{
    padding-bottom: 25px;
}

@media screen and (max-width: 991px) {
    .facts-2 .image-placeholder img{
        display: block;
        margin: 0 auto;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 510px) {
    .facts-2 .image-placeholder img{
        width: 400px;
    }
}

.facts-3{
    background-image: url("images/bg-color.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.facts-3 h2{
    padding: 100px 0 30px 0;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.facts-3 .facts-text{
    padding-bottom: 50px;
    font-weight: bold;
    color: #fff;
}

.facts-3 .facts-text p{
    padding: 15px 0 15px 0;
}


.facts-4 {
    padding: 100px 0 50px 0;

}

.facts-4 h2{
    padding-bottom: 50px;
    text-align: center;
    color: #f05555;
}

.facts-4 .image-placeholder img{
    width: 500px;
}

.facts-4 .text p{
    padding-bottom: 25px;
    color: #f05555;
    font-weight: 500;
}

@media screen and (max-width: 991px) {
    .facts-4 .image-placeholder img{
        display: block;
        margin: 0 auto;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 510px) {
    .facts-4 .image-placeholder img{
        width: 400px;
    }
}

/*** Keto-masterclass ***/

.keto-masterclass{
    background-image: url("images/bg-4.jpg");
    position: relative;
    z-index: 1;
}

.keto-masterclass .white-box{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px 40px;
    background-color: #fff;
}

.keto-masterclass .img-gallery img{
    margin: 10px 5px;
    width: 150px;
}

.keto-masterclass .white-box h2{
    padding: 50px 0 50px 0;
    text-align: center;
    font-weight: 600;
}

.keto-masterclass .white-box h5{
    padding: 10px 0 10px 0;
}

.keto-masterclass .white-box ul{
    padding-left: 15px;
}

.keto-masterclass .white-box ul li{
    padding: 10px 0 10px 0;
    font-weight: 500;
    color: #f05555;
}

@media screen and (max-width: 991px){

    .keto-masterclass .white-box ul {
        list-style-type: none;
        text-align: center;
    }
    .keto-masterclass .img-gallery img{
        padding: 10px;
        display: block;
        margin: 0 auto;
        width: 350px;
    }
}


/*** MODULES ****/

.modules-odd{
    padding: 40px 0 40px 0;
}

.modules-odd h2{
    padding-bottom: 20px;
    color: #f05555;
    font-weight: 600;
}

.modules-odd h2 a{
    color:#f05555;
}

.modules-odd h2 a:hover{
    color: #f05555;
}

.modules-odd h3{
    padding-bottom: 30px;
}

.modules-odd .module-tittle{
    font-weight: 700;
}

.modules-odd h2,
.modules-odd h3{
    text-align: center;
}
.modules-odd .module-content .module-pic img{
    padding-top: 50px;
    max-width: 550px;
}

@media screen and (max-width: 991px){
    .modules-odd .module-content .module-pic img{
        display: block;
        margin: 0 auto;
    }
    .modules-even .module-pic img{
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {
    .modules-odd .module-content .module-pic img{
        max-width: 420px;
        display: block;
        margin: 0 auto;
    }
}

.modules-odd .module-content .module-text{
    padding-top: 50px;
}

.modules-odd .module-content .module-text h5{
    font-weight: 600;
    line-height: 1.5;
}
.modules-odd .module-content .module-text ul{
    padding-left: 20px;
    padding-bottom: 20px;
}

.modules-odd .module-content .module-text ul li{
    font-weight: 500;
}

.modules-odd .module-content .module-text p{
    padding: 30px 0;
    font-size: 15.5px;
    font-weight: 600;
}

.modules-odd .module-content .module-text .change-list{
    padding-bottom: 0;
    padding-top: 30px;
}

.modules-even{
    padding: 40px 0 40px 0;
    background-color: #f7f8fa;
}

.modules-even .module-content h2{
    padding-bottom: 30px;
    color:#f05555;
    font-weight: 600;
    text-align: center;
}

.modules-even .module-content h3{
    text-align: center;
}
.modules-even .module-content h3 span{
    text-decoration: underline;
}

.modules-even .separator{
    padding-top:50px;
}

.modules-even  .module-text h5{
    padding-bottom: 30px;
    font-weight: 600;
    line-height: 1.5;
    color:#f05555;
}

.modules-even .module-text p{
    padding: 20px 0;
    font-weight: 600;
    color: #f05555;
}

.modules-even .module-text ul{
    padding-left: 20px;
}

.modules-even .module-text ul li{
    font-weight: 600;
    color: #f05555;
}

.modules-even .module-pic img{
    max-width: 450px;
}

.modules-even .module-text p span{
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 700;
}

.modules-even .module-content h5{
    text-align: center;
}

@media screen and (max-width: 767px) {
    .modules-even .module-pic img{
        max-width: 420px;
        display: block;
        margin: 0 auto;
    }
}

.last-module{
    background-image: url("images/keto-meal-prep-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.last-module h2{
    padding: 20px 0;
    color:#f05555;
    font-weight: 600;
}

.last-module h3{
    padding: 20px 0;
    color: #fff;
    font-weight: 600;
}

.last-module h5{
    padding: 20px 0;
    color: #fff;
    font-weight: 500;
}
.last-module p {
    color:#fff;
    font-weight: 400;
}

.last-module h2,
.last-module h3,
.last-module h5,
.last-module p{
    text-align: center;
}


/**** Testimonials ****/

.testimonials{
    padding: 40px 0 40px 0;
}

.testimonials h2{
    padding-bottom: 25px;
    text-transform: uppercase;
    text-align: center;
    color: #f05555;
    border-bottom: 1px solid #f05555;
}

.testimonials h5{
    padding-top: 50px;
    text-align: center;
}

.testimonials .testimonial-box .top-image img{
    width: 130px;
    height: 123px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 25px;
}


.testimonials .testimonial-box .testimonial-content{
    padding:30px 30px;
    background-color: #f7f8fa;
    text-align: justify;
    -webkit-box-shadow: 1px 8px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 8px 5px 5px rgba(0,0,0,0.15);
    -o-box-shadow: 1px 8px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 1px 8px 5px 5px rgba(0,0,0,0.15);
    height: 479px;
}

.testimonials .testimonial-box .testimonial-content p{
    padding-bottom: 10px;
    color: #333;
    font-size: 14px;
    font-weight: 500;
}

.testimonials .testimonial-box .testimonial-content span{
    text-transform: uppercase;
}

@media screen and (max-width: 1199px){
    .testimonials .testimonial-box .testimonial-content{
        height: inherit;
    }
}

/*** FAQ SECTION ***/

.faq-section{
    background-image: url("images/bg-2.jpg");
    padding: 200px 0 50px 0;
}

.faq-section h2{
    color:#fff;
    text-align: center;
    font-weight: 600;
}

.faq-text{
    padding: 20px;
    text-align: left;
    color:#fff;
}

.faq-buy{
    text-align: center;
    margin-top: 50px;
}

.faq-buy a:hover{
    color:#fff;
    text-decoration: none;
}

.faq-text h3{
    padding-bottom: 20px;
}

.faq-text p{
    padding-bottom: 5px;
}

.faq-text li{
    padding-bottom: 10px;
}

.faq-text span{
    text-decoration: underline;
}


/**** End Classes-section ****/

.classes-section{
    padding: 200px 0 50px 0;
}

.classes-section .class-text-odd,
.classes-section .class-text-even
{
    padding: 20px;
}

.classes-section .class-text-even{
    background-color: #f7f8fa;
}

.classes-section h2{
    padding-bottom: 40px;
    text-align: center;
    color: #f05555;
}

.classes-section h3{
    padding-bottom: 20px
}

.classes-section h4{
    padding-bottom: 20px;
    color: #f05555;
}

/*** End main-footer ***/

.main-footer{
    background: #f8f4f6;
    padding: 30px 0;
    color: #333;
}

.main-footer .logo-text{
    font-size: 12px;
}

.main-footer .logo-place img{
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 991px){
    .main-footer .logo-text{
        text-align: center;
        padding-bottom: 25px;
    }

    .main-footer .logo-place img{
        padding-bottom: 20px;
    }

    .main-footer .last-text{
        text-align: center;
    }
}